/* Tag Elements */


/* Class Elements */
.divMain {
  border: 1px solid black;
}


/* ID Elements */
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#labelForInput{
  font-size: 1.5em;
  margin: 0;
}

#inputText {
  width: 50%;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 2em;
  
}

#submitButton{
  width: 100px;
  height: 25px;
  color: darkblue;
  background-color: aqua;
}

#theWord{
  text-transform: uppercase;
}



@media (max-width: 600px){
  #inputText{
    width: 90%;
    height:20px;
    background-color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
  }

  #submitButton{
    width: 100px ;
    height: 25px;
    color: darkblue;
    background-color: aqua;
  }

}